<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" routerLink="Home">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <img src="./assets/logo.png" alt="">
        <div class="collapse navbar-collapse    " id="navbarNav">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" routerLinkActive="active-link" routerLink="/admin/Add-Book">Add-Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/admin/Add-category">Add-category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/admin/Add-event">Add-event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link"
                        routerLink="/admin/Add-publisher">Add-publisher</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/admin/Control-bord">Control-bord</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/admin/Messages">Messages</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/admin/Publisher">Publisher</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/admin/Request">Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link"
                        routerLink="/admin/user-interFace">user-interFace</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/admin/Users">Users</a>
                </li>

            </ul>
        </div>
    </div>
</nav>