<section class="p-3">
    <div class="position-relative">

        <img src="./assets/0d43c0f90638fb9d276ca2444251e301.jpg" class="img-fluid" alt="">


    </div>

    <div class="container p-3">
        <div class="row">
            <div class="col-md-6">
                <img src="./assets/Image.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                <p class="text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloribus rem beatae atque
                    sapiente ducimus! Molestiae voluptatum sint explicabo eius quae sed eligendi eaque in illo iure?
                    Repellendus, molestiae fuga.

                </p>


                <button class="main-btn mt-3"> Subscribe</button>


            </div>

        </div>

    </div>

    <div class="container p-3 justify-content-center">
        <h3 class="text-center">new relese</h3>
        <div class="row justify-content-center ">

            <div class="col-md-3 p-2" *ngFor="let item of GetBook">
                <div class="card shadow  ">
                    <img [src]="'http://localhost:8000/' + item.image" class="img-fluid" alt="">
                    <h5>{{item.bookName}}</h5>
                    <p class="p-3">{{item.description}}</p>
                    <h3>{{item.type}}</h3>
                </div>

            </div>



        </div>

    </div>


</section>