<section class="p-3">
    <div class="position-relative">

        <img src="./assets/0d43c0f90638fb9d276ca2444251e301.jpg" class="img-fluid" alt="">


    </div>

    <div class="container p-3">
        <div class="row">
            <div class="col-md-6">
                <img src="./assets/Image.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                <p class="text-center">
                    {{GetBook.data.category.name}}

                </p>

                <button class="main-btn mt-3"> Subscribe</button>


            </div>

        </div>

    </div>

    <div class="container p-3 justify-content-center">
        <h3 class="text-center">new relese</h3>
        <div class="row justify-content-center ">

            <div class="col-md-3">
                <div class="card shadow">
                    <img src="../../../../assets/logo.png" class="img-fluid" alt="">
                    <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quae.</p>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card shadow">
                    <img src="../../../../assets/logo.png" class="img-fluid" alt="">
                    <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quae.</p>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card shadow">
                    <img src="../../../../assets/logo.png" class="img-fluid" alt="">
                    <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quae.</p>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card shadow">
                    <img src="../../../../assets/logo.png" class="img-fluid" alt="">
                    <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quae.</p>
                </div>

            </div>
        </div>
    </div>


</section>