<nav class="navbar navbar-expand-sm navbar-light bg-light d-flex">
    <div class="container-fluid">
        <img src="./assets/logo.png" alt="">
        <div class="collapse navbar-collapse  " id="navbarNav">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" routerLinkActive="active-link" routerLink="/user/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/user/authors">categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/user/connectus">Contact-us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/user/events">Events</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/user/recent">Recent</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/user/who">About us </a>
                </li>

            </ul>

        </div>
    </div>


</nav>